<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React router</title>
    <style media="screen">
      .active{
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script src="bundle.js"></script>
  </body>
</html>
